@page "/"

@*<p>Hola @UtilidadesString.Transformar(nombre)</p>
*@
@*<span>
    <button class="btn btn-primary" @onclick=@DriveStateButton>Click Me</button>

</span>
*@

<div>
    <h3>Película</h3>
    <ListadoPeliculas Peliculas="ObtenerPeliculas()"/>
    
</div>









@code{
   
    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula{Titulo="Wakanda Forever",FechaLanzamiento= new DateTime(2022,11,11)},
            new Pelicula{Titulo="Batman",FechaLanzamiento= new DateTime(2022,06,20)},
            new Pelicula{Titulo="Aquaman 2",FechaLanzamiento= new DateTime(2023,12,24)},
            new Pelicula{Titulo="Antman 3",FechaLanzamiento= new DateTime(2023,05,16)},

        };

    }

 



}